<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Educational platform with an extended contribution option and a lighter version for users from the less developed countries.">
    <meta name="author" content="Dmitry Semenov<moxnrl@gmail.com>">
    {#<link rel="icon" href=""> @todo generate some fav #}

    <title>{% block title %}CleverBird platform{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets filter="compass"
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
            'bundles/cleverbird/css/styles.sass'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
{% block body %}{% endblock %}
<div class="container">
    <footer class="footer">
        <p>&copy; {{ 'now'|date('Y') }} Muffin Man. Project created on <a href="https://koding.com">koding</a> hackathon.</p>
    </footer>
</div>
{% block javascripts %}
    {% javascripts
        'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
