{% extends '@CleverBird/Layouts/main.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#learn" aria-controls="home" role="tab" data-toggle="tab">Learn</a>
                        </li>
                        <li role="presentation">
                            <a href="#teach" aria-controls="profile" role="tab" data-toggle="tab">Teach</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="learn">
                            <h2>Available Cources</h2>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="teach">
                            <h2>Start to Teach</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
